# bot config
duckerBot/bin/Debug/net5.0/config.json

# temporary files, compilation files, IDEs files and other
.idea/
duckerBot.lnk
duckerBot/bin/
duckerBot/obj/
duckerBot.sln
duckerBot.csproj
duckerBot.sln.DotSettings.user
.vs/