<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/jus1d/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="jus1d" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>